streamlit
streamlit-pdf-viewer
google-generativeai
requests
PyYAML
PyMuPDF
xai_sdk
plotly
httpx
pydantic
pdfplumber
pyvis
Pillow
pytesseract
PyPDF2
openai
pandas
pyyaml
jinja2
numpy
networkx
altair
pdf2image
wordcloud
matplotlib
pyvis
python-dotenv
